.hero__container {
    padding: 218px 809px 227px 136px;
    background-image: url("../images/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 0px;
}

.hero__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #E6B939;
}

.hero__heading {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.hero-container__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #CACCD1;
}