.shop__container {
    padding: 512px 40px 40px 785px;
    background-image: url("../../images/ocean.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    
}
.shop__box {
    max-width: 615px;
    display: flex;
    align-items: center;
    background: #292C32;
    border-radius: 16px;
    padding: 18px;
}

.shop-wrapper__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 8px;
}
.shop-wrapper__text:hover {
    color: rgb(189, 159, 217);
    opacity: 1;
    text-decoration: underline;
}

.shop__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;  
    margin-right: 20px;
    margin-left: 8px; 
}
.shop__text:hover {
    color: rgb(189, 159, 217);
    opacity: 1;
    text-decoration: underline;
}


.shop__product-container {
    padding: 99px 451px 100px 451px;
    background: #375C58;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../images/shop-bg-img.svg");
    background-repeat: no-repeat;
}

.shop-product__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FAFAFC;
}

.shop-product__heading {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #E6B939;  
    margin-bottom: 7px;
}

.shop-product__texts {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFC;
    text-align: center;
    margin-bottom: 21px;
}

.shop-product__btn {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #575445;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    padding: 10px 18px;
}
.shop-product__btn:hover {
    background-color: rgb(161, 220, 161);
    opacity: 1;
    color: #FFFFFF;
    border: 1px solid green;
}



